doctype html
html
    title TaskBox
    link(href='./styles/home-page.css' rel='stylesheet')
    body
        div.navbar
            div.title
                p taskBox
            div.log-in
                a(href='/login') Login
            div.sign-up
                a(href='/sign-up') Sign Up
        div.vector-box
            div.services
                img(src='/images/undraw_services_re_hu5n.svg' width='466' height='322')
            div.intro
                p 
                    b Welcome to taskBox
                p 
                    b The Ideal personal assistant
                p 
                    b for the Future...
            div.new-ideas
                img(src='/images/undraw_new_ideas_re_asn4.svg' width='466' height='322')
        div.desc
            p We at taskBox aim at providing you the best ever office experience using our tools
            br
            p Taskbox automates the common and boring day to day activities at office and henceforth makes work easier
        div.function-title()
            p Functionalities of taskBox
        div.functions
            div.assign-tasks
                p The ideal Todo List 
                div.bullet
                    p 📝
            div.official-mails
                p Never lets you miss a deadline
                div.bullet
                    p 📝
            div.easy
                p A Digital Pocket Diary
                div.bullet
                    p 📝
        div.user-login
            div.login-btn
                a(href='/login') Login
        div.create-account
            div.create-btn
                a(href='/sign-up') Create Account
        div.footer
            div.social-networks
                div.desc 
                    p Connect with us via...
                div.facebook
                    a(href='#route1')
                        img(src='/images/facebook.png' height='30' width='30')
                div.instagram
                    a(href='#route2')
                        img(src='/images/instagram.png' height='30' width='30')
                div.linkedin
                    a(href='#route3')
                        img(src='/images/linkedin.png' height='30' width='30')
                div.twitter
                    a(href='#route4')
                        img(src='/images/twitter.png' height='30' width='30')
            div.footer-content
                div.web-tag
                    p Additional Links
                    div.privacy-policy
                        a(href='/privacy-policy') Privacy Policy
                    div.term-condns
                        a(href='/terms-and-condns') Terms and Conditions
                    div.about-us
                        a(href='/about-us') About Us
                div.contact-us
                    p Contact Us
                    br
                    div.details
                        p Mail:taskBoxOfficial@gmail.com
                        br
                        p Phone:+1 7218348478,7384189889
                        br
                        p Address Parkinsons Avenue, NewYork,US
                    