doctype html
html
    title TaskBox
    link(href='./styles/login.css' rel='stylesheet')
    body        
        div.navbar
            div.title
                p taskBox
            div.log-in
                a(href='/login') Login
            div.sign-up
                a(href='/sign-up') Sign Up
        div.login-box
            div.login-title
                p Login to taskBox
            div.form
                form(method='POST' action='/login')
                    div.user-name
                        label(for='username') Username
                        br
                        br
                        input(type='text' id='username' name='username')
                    div.password
                        label(for='password') Password
                        br
                        br
                        input(type='password' id='password' name='password')
                    div.login
                        button(id='submit' type='submit') Login
        div.footer
            div.social-networks
                div.desc 
                    p Connect with us via...
                div.facebook
                    a(href='#route1')
                        img(src='/images/facebook.png' height='30' width='30')
                div.instagram
                    a(href='#route2')
                        img(src='/images/instagram.png' height='30' width='30')
                div.linkedin
                    a(href='#route3')
                        img(src='/images/linkedin.png' height='30' width='30')
                div.twitter
                    a(href='#route4')
                        img(src='/images/twitter.png' height='30' width='30')
            div.footer-content
                div.web-tag
                    p Additional Links
                    div.privacy-policy
                        a(href='/privacy-policy') Privacy Policy
                    div.term-condns
                        a(href='/terms-and-condns') Terms and Conditions
                    div.about-us
                        a(href='/about-us') About Us
                div.contact-us
                    p Contact Us
                    br
                    div.details
                        p Mail:taskBoxOfficial@gmail.com
                        br
                        p Phone:+1 7218348478,7384189889
                        br
                        p Address Parkinsons Avenue, NewYork,US
                    